<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control"
                               placeholder="Wyszukaj tytuł, autora, wydawnictwo lub gatunek" ng-model="searchTitle">

                    </div>
                </div>
            </form>

            <table class="table table-hower">
                <thead>
                <tr>
                    <th>
                        <a href="#/list" ng-click="sortType = 'author.last_name'; sortReverse = !sortReverse">
                            Autor
                            <span ng-show="sortType == 'author.last_name' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'author.last_name' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#/list" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                            Tytuł
                            <span ng-show="sortType == 'publisher.name' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'publisher.name' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#/list" ng-click="sortType = 'publisher.name'; sortReverse = !sortReverse">
                            Wydawnictwo
                            <span ng-show="sortType == 'publisher.name' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'publisher.name' && !sortReverse"
                                  class="fa fa-caret-down"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#/list" ng-click="sortType = 'isbn'; sortReverse = !sortReverse">
                            ISBN
                            <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#/list" ng-click="sortType = 'genre.name'; sortReverse = !sortReverse">
                            Gatunek
                            <span ng-show="sortType == 'genre.name' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType == 'genre.name' && !sortReverse" class="fa fa-caret-down"></span>
                        </a>
                    </th>
                    <th ng-if="vm.loggedin"></th>
                </tr>
                </thead>
                <tr ng-repeat="book in vm.books | orderBy:sortType:sortReverse | filter:searchTitle">

                    <td><strong>{{ book.author.name }}</strong></td>
                    <td>{{book.title}}</td>
                    <td>{{book.publisher.name}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{ book.genre.name}}</td>
                    <td ng-if="vm.loggedin">
                        <a href="#/books/{{ book.id }}">
                            <div class="btn btn-info">Szczegóły</div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>